.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;

  padding: 0 10px;

  font-weight: bold;
  font-size: 1em;
  text-decoration: none;

  background: none;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.btn-green {
  color: var(--green);

  border-color: var(--green);
}

.btn-light {
  color: var(--light);

  border-color: var(--light);
}
