.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.columns-3 > * {
  width: 30%;
}

.d-flex {
  display: flex;
}

.i-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.fd-column {
  flex-direction: column;
}

.white-text {
  color: var(--white);
}

.light-bg {
  background-color: var(--light);
}

.white-bg {
  background-color: var(--white);
}

.cursor-pointer {
  cursor: pointer;
}

.list-style-none {
  list-style: none;
}

.border-radius-15 {
  border-radius: 15px;
}
