.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: var(--header-height);

  padding: 0 2rem;
}

.header-navigation {
  width: 23rem;
}

.navigation-list {
  width: 100%;
  padding: 0;

  font-weight: bold;

  list-style: none;
}
