@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

@import url('variables.css');
@import url('default.css');
@import url('atomic.css');
@import url('components/logo.css');
@import url('components/btn.css');
@import url('components/form.css');
@import url('components/link.css');
@import url('components/modal.css');
@import url('core/header.css');
@import url('core/main-section.css');
@import url('core/floor-flat-section.css');
@import url('core/footer.css');

.content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 0;
}
