@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

@import url('variables.css');
@import url('default.css');
@import url('atomic.css');

.main-container {
  width: 1000px;
  margin: 0 auto;
  padding: var(--header-height) 0;
}

.main-text {
  line-height: 1.5;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;

  padding: 0 10px;

  font-weight: bold;
  font-size: 1em;
  text-decoration: none;

  background: none;
  border: 1px solid;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.btn-green {
  color: var(--green);

  border-color: var(--green);
}

.btn-light {
  color: var(--light);

  border-color: var(--light);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: var(--header-height);

  padding: 0 2rem;
}

.title-link {
  margin-left: 1rem;

  font-size: 1.1rem;
}

.menu-link {
  margin-left: 2.5rem;

  background: linear-gradient(currentColor, currentColor) 0 100% no-repeat;
  background-size: 0 2px;

  transition: background-size 0.3s;
}

.menu-link:hover {
  color: var(--green);

  background-size: 100% 2px;
}

.tagline {
  margin-bottom: 3rem;

  font-size: 1.5rem;
}

.request-container {
  padding: 1.1rem 0;
}

.form-item {
  margin: 0.7rem 0;
}

.form-field {
  padding: 0.5rem;

  border: 1px solid var(--light-blue);
}

.form-field:focus {
  outline: none;
  box-shadow: 0 0 6px var(--green);
}
