body {
  margin: 0;
  font-size: 14px;
  width: 100%;
  font-family: sans-serif;
}

/* Сorrect teleport along the achors */

#advantages, #about-us, #rest-place, #request {
  padding-top: 4rem;
  margin-top: -4rem;
  background-clip: content-box;
}

/* common properties */

.d-flex {
  display: flex;
}

.i-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.white-text {
  color: #FFFFFF;
}

.dark-text {
  color: rgb(24, 29, 56);
}

.dark-bg {
  background-color: #F7F7F7;
}

.white-bg {
  background-color: #FFFFFF;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}

.main-headline {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.main-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

.backlight:focus {
  outline: none;
  box-shadow: 0 0 6px #02E2B2;
}

/* header */

.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.header-container {
  height: 4rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo-title img {
  height: 2.5rem;
}

.title-link {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
}

.menu {
  width: 30%;
}

.menu ul {
  justify-content: flex-end;
  list-style: none;
}

.menu-link {
  margin-left: 2.5rem;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.menu-link:hover {
  background-size: 100% 2px;
}

/* main-preview */

.preview {
  height: 30rem;
  padding: 3rem;
  background: url(../images/banner.png) center no-repeat;
  background-size: cover;
}

.preview-container {
  height: 30rem;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-logo {
  margin-bottom: 0;
}

.preview-logo img {
  height: 11rem;
}

.headline {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
}

.tagline {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.preview-btn {
  display: inline-block;
  background: 0;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.preview-btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* main-advantages */


.advantages-container {
  flex-wrap: nowrap;
}

.advantages-item {
  width: 33.33%;
  padding: 3rem;
}

/* main-about-us */

.about-us-item {
  width: 60%;
  height: 15rem;
  padding: 0 3rem;
}

.about-us-image {
  width: 40%;
  padding: 3rem;
}

.about-us-image img {
  width: 100%;
  height: 12rem;
}

/* main-rest-place */

.rest-place-item {
  width: 60%;
  height: 15rem;
  padding: 0 3rem;
}

.rest-place-image {
  width: 40%;
  padding: 3rem;
}

.rest-place-image img {
  width: 100%;
  height: 12rem;
}

/* main-request */

.request-container {
  flex-direction: column;
  text-align: center;
  padding: 1.1rem 0;
}

.request-form {
  width: 65%;
  flex-direction: column;
}

.form-fieldset {
  border: 2px solid #02E2B2;
  padding: 2rem;
  margin-bottom: 2rem;
}

.form-legend {
  font-size: 1.2rem;
  font-weight: 700;
  color: #02E2B2;
  text-align: left;
}

.form-item {
  margin: 0.7rem 0;
}

.form-label {
  width: 60%;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}

.form-select {
  width: 40%;
  border-radius: 1rem;
  border: 1px solid #9ACEEB;
  border-radius: 1rem;
  padding: 0.6rem;
}

.form-input {
  width: 40%;
  border: 1px solid #9ACEEB;
  border-radius: 1rem;
  padding: 0.5rem;
}

.form-btn {
  text-align: left;
}

.request-button {
  width: 33%;
  display: inline-block;
  padding: 0.7rem 0.7rem;
  border: 1px solid #02E2B2;
  border-radius: 0.5rem;
  color: #02E2B2;
  background: 0;
  font-size: 1rem;
  font-weight: 700;
}

.request-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* footer */

.footer {
  padding-top: 0.7rem;
  width: 100%;
  height: 8rem;
  background-color: #323447;
}

.footer-container {
  justify-content: space-between;
}

.footer_item {
  width: 33%;
  height: 7rem;
  padding: 3rem 3rem;
  margin: 0 3rem;
}

.footer-item .logo-title img {
  height: 2rem;
}

.privacy-year {
  font-weight: 300;
}

.footer-headline {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: -0.5rem;
}

.footer-list {
  font-weight: 500;
}

.footer-link {
  margin-bottom: 0.5rem;
  text-decoration: none;
}

/* adaptive */
